.map-container-style {
  /* width: 100%; */
  /* height: 35rem;
  max-height: 35rem; */
  /* height: 100%;
  max-height: 100%; */
  transition: width 1s, height 1s ease !important;
  padding: 30px;
}
@media (min-width: 768px) {
  .map-container-style {
      border: 0;
      border-left: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.heading {
  padding: 5px;
  text-align: center;
}

.tripHistory {
  text-align: center;
}

.driverInfo {
  border: black;
  padding-left: 10px;
}

.ui-datepicker-trigger {
  position: absolute;
  right: 0;
}

table>thead {
  background-color: rgb(56, 75, 102);
  color: lightgrey;
}

.button {
  background-color: rgb(56, 75, 102);
  border: 1px solid transparent;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  font-weight: 0;
  touch-action: manipulation;
  line-height: 1.42857143;
  border-radius: 4px;
}

.date-slider-container {
  height: 8%;
  color: #383838;
  font-weight: 600;
}

.date-slider-container img {
  cursor: pointer;
}

.right-arrow {
  transform: scaleX(-1) rotate(0deg);
}

.bgcolor {
  height: 20px;
  width: 20px;
  background-color: #08BFC1;
}


@media only screen and (max-width:990px){
  .order1{
      order: 1
  }
  .order2{
      order: 2
  }
  .order3{
      order: 3
  }
  .mar{
      margin: 0 auto !important;
  }
  .textali{
      text-align: center !important;
  }
  .floatr{
      float:none !important;
  }
}

.floatr{
  float: right;
}
.show-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.tripmaps {
  background-color: #ffffff;
}

.tripmaps .list {
  /* padding: 1rem 0; */
  border-bottom: 0.5px solid #e3e3e3;
}

.innerlist {
  padding: 1rem 0;
  padding-bottom: 0.5rem !important;
  padding-top: 0.8rem !important;
}

.header {
  height: 72px;
  padding: 26px 20px !important;
  border-bottom: 0.5px solid #e3e3e3;
}

.circle-green {
  height: 6px;
  width: 6px;
  transform: scaleY(-1);
  background-color: #50D078;
  border-radius: 50%;
}

.circle-red {
  height: 6px;
  width: 6px;
  transform: scaleY(-1);
  background-color: #383838;
  border-radius: 50%;
}

.margin-right {
  padding-left: 22px;
  padding-top: 6px;
}

.summary-container {
  /* height:  11rem; */
  height: 18rem;
  background-color: #ffffff;
}

.show-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}


/* .boxalign {
  width: 98%;
  box-sizing: border-box;
  margin-left: 1%;
  margin-top: 2%;
} */

.summary-left {
  border-right: 0.5px solid #c3c3c3;
}

.show-shadow ul {
  list-style: none;
}

.summary-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 0.5px solid #c3c3c3;
}

.summary-container ul li {
  overflow: hidden;
  line-height: 1.88rem;
  border-bottom: 0.5px solid #c3c3c3;
  color: #383838;
  cursor: pointer;
  padding: 0 0.83rem;
}

.summary-container ul li:hover {
  background-color: #f6f6f6;
}

.summary-container ul li:last-child {
  border-bottom: none;
}

.summary-container ul li>span:last-child {
  font-weight: 400;
}

.summary-container ul li>span:first-child {
  font-weight: 300;
}

.border-right {
  border-bottom: 0.5px solid #e3e3e3;
}

.line {
  box-sizing: border-box;
  height: 100%;
  width: 2px;
  margin: 0px 1px;
  border: 2px solid #383838;
  transform: scaleY(-1);
}

.arrow_design {
  border-radius: 10px;
  background-color: #08BFC1;
  height: 20px;
  width: 20px;
  float: left;
}

.arrow-size {
  height: 10px;
  width: 18px;
}

.set-height {
  height: 450px;
  overflow: hidden;
  overflow-y: scroll;
}

.active-row {
  background-color: #f6f6f6;
}

.tripmaps li:hover {
  background-color: #f6f6f6;
}


/* checkbox styles */

.checkbox-row {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox-row input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


/* Create a custom checkbox */

.display-label {
  position: absolute;
  /* top: 25px; */
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
}


/* On mouse-over, add a background color */

.checkbox-row:hover input~.display-label {
  background-color: #ffffff;
}


/* When the checkbox is checked, add a background */

.checkbox-row input:checked~.display-label {
  background-color: #08bfc1;
}


/* Create the checkmark/indicator (hidden when not checked) */

.display-label:after {
  content: "";
  position: absolute;
  display: none;
}


/* Show the checkmark when checked */

.checkbox-row input:checked~.display-label:after {
  display: block;
}


/* Style the checkmark/indicator */

.checkbox-row .display-label:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.no-trip-data {
  background-color: #F6F6F6;
}

.btn-size {
  width: 8rem !important;
  height: 2.75rem !important;
}

.business-label-pd {
  padding: 5px 10px;
  border-radius: 5px
}

.business-label {
  height: 17px;
  width: 56px;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
}

.ui-datepicker-trigger {
  position: absolute;
  right: 0;
}

.opacity-3 {
  opacity: 0.3;
}

.driving-icon {
  height: 70px;
  width: 70px;
}

.bytrips span .ui-icon-circle-triangle-w {
  top: 63% !important;
}

.bytrips span .ui-icon-circle-triangle-e {
  top: 5px !important;
}
//frist design
.page-item:last-child .page-link {
  
  border-radius: 50%;
  margin-left: 0px;
  background-color: green;
  color: #fff;
  border: 1px solid #eee;
  width: 25px;
  height: 25px;
}
.page-item:first-child .page-link {
  margin-left: 2px;
  margin-right: 0px;
  color: #fff;
  border-radius: 50%;
  background-color: green;
  border: 1px solid #eee;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: 0px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
 border: none;
}
.page-link h5{
color: #000;
font-weight: bold;
font-size: 15px;

}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 560px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-left: 12px;
  box-shadow: 3px 3px 3px 0px #ccc;;
}

.list-group-item h5{

  font-size: 13px;
  font-weight: bold;
}
.list-group-item span
{
  margin: 6px;
}
.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  margin-left: 140px;
}
//second design
.nopadding
{
  padding-left : 0px !important;
  padding-right : 0px !important;
}

.calender-box
{
  margin-left : 14%;
  margin-bottom: 8px;
}

.calender-box span i
{
  padding : 5px 10px;
  background-color: green;
  color: #eee;
  border-radius: 50%;
}

:host ::ng-deep .ui-inputtext {
  color: red;
}

.calender-box span i
{
  padding : 5px 10px;
  background-color: green;
  color: #eee;
  border-radius: 50%;
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
  
  background-color: green;
  border-radius: 50%;
  color: #fff;
  padding: 5px 10px;
  width: 28px;
  height: 28px;
  line-height: 25px;
  text-align: center;
}

:host ::ng-deep .ui-inputtext {
  color:#000;
  font-weight: bold;
  margin-left: 20px;
  
}
:host ::ng-deep .ui-datepicker-trigger.ui-button {
  border-radius: 50%;
  color: green;
  background-color: transparent;
  border: none;
}
:host ::ng-deep .ui-datepicker-trigger.ui-button:hover{
  background-color: transparent;
  color: yellow;
  cursor: pointer;
  border: none;
}
:host ::ng-deep .ui-button-icon-left {
  top: 50%;
  left: 50%;
  margin-top: -.5em;
  margin-left: -1.5em;
  width: 1em;
  height: 1em;
}
.calender-box label
{
  margin-left : -1px;
 
}
.input-group-prepend {
  margin-left: 17px;
  width: 40px;
}
.calender-right{
  margin-left: -8px;
  padding: 5px 6px;
}