.button {
  background-color: rgb(56, 75, 102);
  border: 1px solid transparent;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 400;
  touch-action: manipulation;
  line-height: 1.42857143;
  border-radius: 4px;
}

table>thead {
  background-color: rgb(56, 75, 102);
  color: lightgrey;
}
